/*
Imported Fonts: 
font-family: 'Crimson Text', serif;
font-family: 'Caveat', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Press Start 2P', cursive;
*/

.everything {
  background-color: green;
}

body {
  /* background-image: url("../public/plantframes/frame_00_delay-0.04s.gif"); */
  color: rgba(19, 164, 31, 0.768);
  color: hsl(80, 240, 189);
  font-family: "Crimson Text", serif;
  font-size: large;
  background-color: palegoldenrod;
}

blockquote {
  background: lemonchiffon;
  border-left: 6px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

/* blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
} */
blockquote p {
  display: inline;
}